<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mc2techservices.gcg"
          android:versionCode="14"
          android:versionName="2017.11.25">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="24"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".gcg"
        android:icon="@mipmap/ic_launcher"
        android:label="Gift Card Genie"
        android:theme="@style/AppTheme">

        <!-- meta-data below is needed for Google Play, at least it was at some point -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent"/>
        <activity
            android:name=".AllGCsActivity"
            android:label="Your Cards"
            android:theme="@style/AppThemeNative"/>
        <activity
            android:name=".InitActivity"
            android:label="Gift Card Genie"
            android:noHistory="true"
            android:screenOrientation="sensorPortrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".CardTypeSelectActivity"
            android:noHistory="true"
            android:theme="@android:style/android:Theme.Light.NoTitleBar"/>
        <activity
            android:name=".AddModCardActivity"
            android:label="Card Details"
            android:theme="@style/AppThemeNative"/>
        <activity
            android:name=".LookupActivity"
            android:theme="@android:style/android:Theme.Light.NoTitleBar"/>
        <activity
            android:name=".AboutActivity"
            android:theme="@android:style/android:Theme.Light.NoTitleBar"/>
        <activity
            android:name=".WatchAdActivity"/>
        <activity android:name=".PurchaseActivity"/>
        <activity
            android:name=".PurchaseOptionsActivity"
            android:noHistory="true"/>
        <activity
            android:name=".ContactActivity"
            android:theme="@style/AppThemeLight"/>
        <activity
            android:name="com.mc2techservices.ads.WatchRewardedAd"
            android:label="@string/title_activity_testarea"/>
        <activity
            android:name="com.mc2techservices.ads.WatchInternalAd"
            android:label="@string/title_activity_testarea"/>
        <activity
            android:name=".testarea"
            android:label="@string/title_activity_testarea"/>
        <activity
            android:name=".PreCardTypeSelectActivity"
            android:label="@string/title_activity_pre_card_type_select">
        </activity>
        <activity android:name=".PasteUserDataActivity">
        </activity>
        <activity
            android:name="com.mc2techservices.ads.AdsDecider"
            android:label="@string/title_activity_ads_decider">
        </activity>
        <activity
            android:name="com.mc2techservices.ads.AdsSetup"
            android:label="@string/title_activity_ads_setup">
        </activity>
    </application>

</manifest>