<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GCG.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8324C567164214EE00E38FA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>832BDE0114D9BC0000B2000D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8371414315CA3B8800AF04F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8371418615CA3DB200AF04F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8393F28818321259005C903A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83A8E30916421BB500960430</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
